img{
  float: right;
  margin-bottom: 400px;
  margin-top: 100px;
}
a{
    text-align: center;
    clear: left;
    font-size: 35px;
    padding-left: 30px;
    padding-right: 30px;
    color: crimson;

}
p{
	color: black;
}
