body{
   /* background-image: url("http://summer.bghcdn.ogqcorp.com/image/24286/1280");
    */
}
img{
  float: right;
}
a{
    text-align: center;
    clear: left;
    font-size: 35px;
    padding-left: 30px;
    padding-right: 30px;
    color: black;

}

